:root {
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: "Karla", sans-serif;
  margin: 2rem;
  background-color: aliceblue;

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
  }
  .text-wrapper {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .nav-links {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    text-align: center;
    align-items: center;
  }
  .links {
    display: flex;
    gap: 3rem;

    a {
      color: rgb(9, 36, 94);
    }
  }
  .home-section {
    display: flex;
    justify-content: end;
  }
  .text-desc {
    width: 600px;
    height: 500px;
    border: 2px solid black;
    background-color: rgb(208, 221, 221);
    position: relative;
    border-radius: 2rem;
  }
}
